<div class="container col-sm-9 mt-5">
    <fieldset class="border rounded p-4 m-4">
        <legend class="text-left">Profil klijenta</legend>
        <form [formGroup]="updateFormClient" (submit)="onUpdateClient()" class="form-group pb-3">
            <fieldset class="border rounded p-4 m-4">
                <legend class="text-center">Azuriraj klijenta</legend>
                <div class="form-row">
                    <div class="col">
                        <label for="firstName">Ime</label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName">
                    </div>
                    <div class="col">
                        <label for="lastName">Prezime</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName">
                    </div>
                    <div class="col">
                        <label for="idNumber">Broj licne karte</label>
                        <input type="text" class="form-control" id="idNumber" formControlName="idNumber">
                    </div>
                </div>
                <div class="text-right p-0">
                    <input class="btn btn-primary mt-3" type="submit" value="Azuriraj">
                </div>
            </fieldset>
        </form>
        <div class="container table-responsive px-0">
            <fieldset class="border rounded p-4 m-4">
            <legend class="text-center">Vozila klijenta</legend>
            <table *ngIf="cars.length > 0" class="table table-striped mt-4 shadow table-hover text-dark text-center table-responsive">
                <thead class="bg-warning text-dark">
                    <tr>
                        <th scope="col">Proizvodjac</th>
                        <th scope="col">Model</th>
                        <th scope="col">Godina priozvodnje</th>
                        <th scope="col">Broj registracije</th>
                        <th scope="col">Broj motora</th>
                        <th scope="col">Broj sasije</th>
                        <th scope="col">Opis</th>
                        <th scope="col" colspan="2">Opcije</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    <tr *ngFor="let car of cars">
                        <td>{{car.maker}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.manufactYear}}</td>
                        <td>{{car.regNumber}}</td>
                        <td>{{car.engineNumber}}</td>
                        <td>{{car.chasNumber}}</td>
                        <td>{{car.description}}</td>
                        <td>
                            <button class="btn btn-primary mx-1" (click)="onUpdateCar()">Izmeni</button>
                        </td>
                        <td>
                            <button class="btn btn-danger mx-1" (click)="onDeleteCar()">Ukloni</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center ">
                <fieldset class="border rounded p-4 m-4 ">
                    <legend class="text-center">Intervencije</legend>
                    <select class="container col-sm-4 rounded bg-warning p-2 text-dark font-weight-bold"
                        (change)="getInterventionsByCarId($event.target.value)">
                        <option></option>
                        <option *ngFor="let car of cars" class="bg-warning text-dark font-weight-bold" value="{{car._id}}">{{car.maker}} {{car.model}} {{car.regNumber}}</option>
                    </select>
                    <div class="container col-sm-9 text-center">
                        <table *ngIf="interventions.length > 0" class="table table-striped mt-4 shadow table-hover text-dark col-sm-12 col-lg-12 text-center table-responsive mx-auto px-0">
                            <thead class="bg-warning text-dark">
                                <tr>
                                    <th scope="col">Intervencija</th>
                                    <th scope="col">Opis</th>
                                    <th scope="col">Cena</th>
                                    <th scope="col">Datum</th>
                                    <th scope="col" colspan="2">Opcije</th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                <tr *ngFor="let intervention of interventions">
                                    <td>{{intervention.intervention}}</td>
                                    <td>{{intervention.description}}</td>
                                    <td>{{intervention.price}}</td>
                                    <td>{{intervention.createdAt | date}}</td>
                                    <td>
                                        <button class="btn btn-primary mx-1" (click)="onUpdateCar()">Izmeni</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger mx-1" (click)="onDeleteCar()">Ukloni</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </fieldset>
</div>